* {
  background: #3F5EFB;
background: radial-gradient(circle,rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
}
header h1 {
 text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 100px;
    color: white; /* Texto branco */
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5); /* Sombra no texto */
    font-weight: bold; /* Mais pesado */
    margin: 20px 0; /* Espaçamento */
    letter-spacing: 2px; /* Espaço entre letras */
}
main label {
  text-align: center;
  
 
}
main input {
  font-size: 20px;
}
main {
  text-align: center;
  font-size: 50px;
position: center;
padding: 20px;
background: purple;
width: 20%; /* Reduza a largura */
  margin: 20px auto; /* Centraliza horizontalmente */
  display: block; /* Mude para block */
flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px; /* Bordas circulares */
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5); /* Sombra */
}
